/* GLOBAL */
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #fff;
  color: #444;
}

*:focus{
  outline: 2px dotted #de2e54;
  outline-offset: 2px;
}

/* Container */
.container{
  width: 100%;
  max-width: 1160px;
  padding-right: 30px;
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;
}

.site-header{
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.site-header-logo{
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  color: #222;
  text-decoration: none;
}

.site-logo-footer{
  color: #fff;
}
.site-header-logo:hover{
  color: #de2e54;
}

.site-header-logo-img{
  border-radius: 50%;
  margin-right: 16px;
}

.site-header-logo:active{
  opacity: 0.6;
}

.sitenav{
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

.sitenav-list{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav-item:not(:last-child){
  margin-right: 32px;
}

.sitenav-link{
  display: block;
  color: #222;
  text-decoration: none;
}

.sitenav-link:hover{
  color: #de2e54;
}

.sitenav-link:active{
  opacity: 0.6;
}

.sitenav-site-footer .sitenav-link {
  color: #fff;
}

.sitenav-site-footer .sitenav-link:hover{
  color: #de2e54;
}

.sitenav-site-footer .sitenav-link:active{
  color: #fff;
}

.site-logo-footer:active{
  color: #fff;
}
/* Main link */
.main-link{
  display: inline-block;
  padding: 10px 22px;
  border: 2px solid #de2e54;
  border-radius: 8px;
  font-size: 15px;
  letter-spacing: 2px;
  font-family: 'Fira Sans Condensed', sans-serif;
  text-decoration: none;
  background-color: #de2e54;
  color: #fff;
  text-transform: uppercase;
}

.main-link:hover{
  border-color: #de2e54;
  background-color: #fff;
  color: #de2e54;
}

.main-link:active{
  background-color: #de2e54;
  color: #fff;
  opacity: 0.6;
}






/* Site footer */

.site-footer{
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #222;
  color: #fff;
}

.site-footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}